body {
    background: #3A3A42;
    box-sizing: content-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
    line-height: 1.5em;
}

h1 {
    color: #bbb;
}
.Nav_menu__wVkA8:hover ~ .Layout_container__S4aNf {
    transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
}

